@media (min-width: 769px) {
  .sidemenu {
    img[alt='Tvarit AI Platform'] {
      height: 36px;
      width: 36px;
      margin-top: 17px;
    }

    background: #203363 !important;

    & > ul {
      background: transparent !important;
      & > li {
        color: white !important;
      }
    }
  }
}
