@media (min-width: 769px) {
  .sidemenu {
    img[alt='Tvarit AI Platform'] {
      margin-top: 14px;
      border-radius: 0%;
    }

    background: #112266 !important;

    & > ul {
      background: transparent !important;
      & > li {
        color: white !important;
      }
    }
  }
}
