name: Deploy to Production

on:
  workflow_dispatch:

jobs:
  deploy_to_staging:
    runs-on: ip-172-30-0-99
    environment: staging
    env:
      AWS_DEFAULT_REGION: eu-central-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
    steps:
    - uses: actions/checkout@v2
    - run: |
        bash .github/tvarit/deploy_to_staging.sh maxion
        bash .github/tvarit/deploy_to_staging.sh covacsis
        bash .github/tvarit/deploy_to_staging.sh cloud

  deploy_to_production:
    runs-on: ip-172-30-0-99
    environment: production
    env:
      AWS_DEFAULT_REGION: eu-central-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
    steps:
    - uses: actions/checkout@v2
    - run: |
        bash .github/tvarit/deploy_to_production.sh maxion
        bash .github/tvarit/deploy_to_production.sh covacsis
        bash .github/tvarit/deploy_to_production.sh cloud
    needs: [deploy_to_staging]
