name: PR Deploy

on:
  pull_request:
    branches: [main]

jobs:
  deploy_to_development:
    runs-on: self-hosted
    environment: development
    env:
      PR_NUMBER: ${{ github.event.number }}
      AWS_DEFAULT_REGION: eu-central-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      OAUTH_CLIENT_ID: ${{ secrets.OAUTH_CLIENT_ID }}
      OAUTH_CLIENT_SECRET: ${{ secrets.OAUTH_CLIENT_SECRET }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
    steps:
    - uses: actions/checkout@v2
    - run: |
        bash .github/tvarit/deploy_to_development.sh
